.swiper {
	height: 200px;
}
.swiper-item {
	background-color: $uni-bg-color-grey;
	image {
		min-width: 100%;
	}
	.swiper-text {
		position: absolute;
		bottom: 50px;
		right: 20px;
		color: $uni-text-color-inverse;
		font-size: 18px;
	}
}
.card-header {
	justify-content: space-between;
}